<div style="background-color: RGB(51,165,182);" >
<h2 style="margin: auto; padding: 20px; color:#fff; ">1 - Importation des librairies et chargement des fichiers</h2>
</div>

In [1]:
import numpy as np
import warnings
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
from datetime import datetime

<div style="border: 1px solid RGB(51,165,182);" >
<h3 style="margin: auto; padding: 20px; color: RGB(51,165,182); ">1.2 - Chargements des fichiers</h3>
</div>

In [2]:
df_world = pd.read_csv("Data/donnees_banque_mondiale.csv", sep=";")
df_price = pd.read_csv("Data/FAOSTAT_producers_price.csv", sep=";")
df_import_export = pd.read_csv("Data/FAOSTAT_import_export.csv", sep=";")
df_consumption = pd.read_csv("Data/FAOSTAT_import_export_consumption.csv", sep=";")
df_internet = pd.read_csv("Data/internet.csv", sep=";")

<div style="background-color: RGB(51,165,182);" >
<h2 style="margin: auto; padding: 20px; color:#fff; ">2 - Analyse exploratoire des fichiers</h2>
</div>

<div style="border: 1px solid RGB(51,165,182);" >
<h3 style="margin: auto; padding: 20px; color: RGB(51,165,182); ">2.1 - Analyse world</h3>
</div>

In [3]:
df_world.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 266 entries, 0 to 265
Data columns (total 11 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Area                             266 non-null    object
 1   PIB par habitant                 251 non-null    float64
 2   Year                             266 non-null    int64
 3   Population totale                265 non-null    float64
 4   Taux d'urbanisation              263 non-null    float64
 5   Taux de chomage                  234 non-null    float64
 6   Taux d'inflation                 216 non-null    float64
 7   Dette publique (% du PIB)        54 non-null     float64
 8   Part des energies renouvelables  71 non-null     float64
 9   Taux de mortalite infantile      244 non-null    float64
 10  Taux d'electrification           263 non-null    float64
dtypes: float64(9), int64(1), object(1)
memory usage: 23.0+ KB

In [4]:
df_world

,Area,PIB par habitant,Year,Population totale,Taux d'urbanisation,Taux de chomage,Taux d'inflation,Dette publique (% du PIB),Part des energies renouvelables,Taux de mortalite infantile,Taux d'electrification
0,Afghanistan,352.603733,2022,4.112877e+07,26.616000,14.100000,NaN,NaN,20.0,44.800000,85.300000
1,Africa Eastern and Southern,1642.432039,2022,7.208591e+08,37.825158,7.448222,10.883478,NaN,NaN,40.797625,48.711995
2,Africa Western and Central,1788.875347,2022,4.903309e+08,49.047385,3.737766,7.967574,NaN,NaN,59.130029,55.437577
3,Albania,6810.114041,2022,2.777689e+06,63.799000,11.588000,6.725203,NaN,NaN,8.400000,100.000000
4,Algeria,5023.252932,2022,4.490322e+07,74.772000,12.437000,9.265516,NaN,NaN,18.700000,100.000000
...,...,...,...,...,...,...,...,...,...,...,...
261,West Bank and Gaza,3799.955270,2022,5.043612e+06,77.291000,24.420000,3.741224,NaN,15.4,12.300000,100.000000
262,World,12730.157170,2022,7.951595e+09,56.901955,5.264616,7.985187,NaN,NaN,27.900000,91.352571
263,"Yemen, Rep.",698.850350,2022,3.369661e+07,39.188000,17.515000,NaN,NaN,NaN,33.100000,76.000000
264,Zambia,1456.901570,2022,2.001768e+07,45.761000,5.993000,10.993204,NaN,NaN,39.000000,47.800000
265,Zimbabwe,1676.821489,2022,1.632054e+07,32.395000,10.087000,104.705171,NaN,NaN,34.600000,50.100000

In [5]:
df_world.isnull().mean()

Area                               0.000000
PIB par habitant                   0.056391
Year                               0.000000
Population totale                  0.003759
Taux d'urbanisation                0.011278
Taux de chomage                    0.120301
Taux d'inflation                   0.187970
Dette publique (% du PIB)          0.796992
Part des energies renouvelables    0.733083
Taux de mortalite infantile        0.082707
Taux d'electrification             0.011278
dtype: float64

In [6]:
colonnes_avant = len(df_world.columns)
colonnes_manquantes = df_world.columns[df_world.isnull().mean() > 0.3]

print(colonnes_manquantes)


df_world = df_world.dropna(axis=1, thresh=int(len(df_world) * 0.7))

colonnes_apres = len(df_world.columns)
print(f"Le DataFrame a été nettoyé de {colonnes_avant - colonnes_apres} colonnes.")

Index(['Dette publique (% du PIB)', 'Part des energies renouvelables'], dtype='object')
Le DataFrame a été nettoyé de 2 colonnes.

In [7]:
df_world.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 266 entries, 0 to 265
Data columns (total 9 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Area                         266 non-null    object
 1   PIB par habitant             251 non-null    float64
 2   Year                         266 non-null    int64
 3   Population totale            265 non-null    float64
 4   Taux d'urbanisation          263 non-null    float64
 5   Taux de chomage              234 non-null    float64
 6   Taux d'inflation             216 non-null    float64
 7   Taux de mortalite infantile  244 non-null    float64
 8   Taux d'electrification       263 non-null    float64
dtypes: float64(7), int64(1), object(1)
memory usage: 18.8+ KB

<div style="border: 1px solid RGB(51,165,182);" >
<h3 style="margin: auto; padding: 20px; color: RGB(51,165,182); ">2.1 - Analyse price</h3>
</div>

In [8]:
df_price.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 94 entries, 0 to 93
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Area Code (M49)  94 non-null     int64
 1   Area             94 non-null     object
 2   Element Code     94 non-null     int64
 3   Element          94 non-null     object
 4   Year             94 non-null     int64
 5   Unit             94 non-null     object
 6   Value            94 non-null     float64
dtypes: float64(1), int64(3), object(3)
memory usage: 5.3+ KB

In [9]:
df_price.head()

,Area Code (M49),Area,Element Code,Element,Year,Unit,Value
0,8,Albania,5532,Producer Price (USD/tonne),2022,USD,3180.3
1,51,Armenia,5532,Producer Price (USD/tonne),2022,USD,6208.2
2,51,Armenia,5532,Producer Price (USD/tonne),2022,USD,1059.6
3,36,Australia,5532,Producer Price (USD/tonne),2022,USD,1615.9
4,40,Austria,5532,Producer Price (USD/tonne),2022,USD,3032.8

Pour l'instant on laisse de coté, pas assez de données

<div style="border: 1px solid RGB(51,165,182);" >
<h3 style="margin: auto; padding: 20px; color: RGB(51,165,182); ">2.1 - Analyse consommation</h3>
</div>

In [10]:
df_consumption.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2779 entries, 0 to 2778
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Area Code (M49)  2779 non-null   int64
 1   Area             2779 non-null   object
 2   Element          2779 non-null   object
 3   Item             2779 non-null   object
 4   Year             2779 non-null   int64
 5   Value            2779 non-null   int64
dtypes: int64(3), object(3)
memory usage: 130.4+ KB

In [11]:
df_consumption.head()

,Area Code (M49),Area,Element,Item,Year,Value
0,4,Afghanistan,Production,Poultry Meat,2022,29
1,4,Afghanistan,Import quantity,Poultry Meat,2022,7
2,4,Afghanistan,Stock Variation,Poultry Meat,2022,1
3,4,Afghanistan,Domestic supply quantity,Poultry Meat,2022,36
4,4,Afghanistan,Residuals,Poultry Meat,2022,0

In [12]:
df_pivot1 = df_consumption.pivot(index='Area', columns=['Element', 'Item'], values='Value').reset_index()
df_pivot1.columns = ['_'.join(col).strip() if isinstance(col, tuple) else col for col in df_pivot1.columns.values]
df_pivot1

,Area_,Production_Poultry Meat,Import quantity_Poultry Meat,Stock Variation_Poultry Meat,Domestic supply quantity_Poultry Meat,Residuals_Poultry Meat,Food_Poultry Meat,Production_Eggs,Import quantity_Eggs,Export quantity_Eggs,Domestic supply quantity_Eggs,Losses_Eggs,Residuals_Eggs,Food_Eggs,Stock Variation_Eggs,Export quantity_Poultry Meat,Tourist consumption_Poultry Meat,Tourist consumption_Eggs,Losses_Poultry Meat
0,Afghanistan,29.0,7.0,1.0,36.0,0.0,36.0,22.0,13.0,0.0,35.0,3.0,0.0,29.0,NaN,NaN,NaN,NaN,NaN
1,Albania,18.0,47.0,0.0,64.0,0.0,64.0,49.0,2.0,1.0,51.0,8.0,0.0,43.0,0.0,NaN,NaN,NaN,NaN
2,Algeria,275.0,0.0,0.0,275.0,0.0,275.0,312.0,1.0,0.0,312.0,14.0,0.0,282.0,0.0,0.0,NaN,NaN,NaN
3,Angola,59.0,316.0,0.0,374.0,0.0,374.0,143.0,2.0,0.0,145.0,12.0,0.0,64.0,0.0,0.0,NaN,NaN,NaN
4,Antigua and Barbuda,0.0,7.0,0.0,7.0,0.0,6.0,1.0,0.0,NaN,1.0,0.0,0.0,1.0,NaN,0.0,1.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
184,Venezuela (Bolivarian Republic of),426.0,23.0,0.0,449.0,0.0,449.0,178.0,0.0,NaN,178.0,9.0,0.0,169.0,0.0,NaN,NaN,NaN,NaN
185,Viet Nam,1249.0,270.0,43.0,1468.0,0.0,1468.0,436.0,6.0,4.0,438.0,39.0,0.0,370.0,0.0,7.0,NaN,NaN,NaN
186,Yemen,202.0,103.0,0.0,305.0,0.0,305.0,74.0,1.0,NaN,75.0,7.0,0.0,57.0,0.0,NaN,NaN,NaN,NaN
187,Zambia,51.0,57.0,0.0,99.0,0.0,99.0,66.0,0.0,2.0,65.0,6.0,0.0,56.0,0.0,9.0,NaN,NaN,NaN
188,Zimbabwe,112.0,5.0,0.0,117.0,0.0,117.0,22.0,1.0,0.0,23.0,2.0,0.0,18.0,0.0,NaN,NaN,NaN,NaN

In [13]:
colonnes_avant = len(df_pivot1.columns)
df_pivot1 = df_pivot1.dropna(axis=1, thresh=int(len(df_pivot1) * 0.7))
colonnes_apres = len(df_pivot1.columns)
print(f"Le DataFrame a été nettoyé de {colonnes_avant - colonnes_apres} colonnes.")

Le DataFrame a été nettoyé de 4 colonnes.

In [14]:
df_pivot1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 189 entries, 0 to 188
Data columns (total 15 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Area_                                  189 non-null    object
 1   Production_Poultry Meat                186 non-null    float64
 2   Import quantity_Poultry Meat           189 non-null    float64
 3   Stock Variation_Poultry Meat           189 non-null    float64
 4   Domestic supply quantity_Poultry Meat  189 non-null    float64
 5   Residuals_Poultry Meat                 189 non-null    float64
 6   Food_Poultry Meat                      189 non-null    float64
 7   Production_Eggs                        185 non-null    float64
 8   Import quantity_Eggs                   189 non-null    float64
 9   Domestic supply quantity_Eggs          189 non-null    float64
 10  Losses_Eggs                            187 non-null    float64
 11  Residuals_Eggs                         189 non-null    float64
 12  Food_Eggs                              189 non-null    float64
 13  Stock Variation_Eggs                   155 non-null    float64
 14  Export quantity_Poultry Meat           138 non-null    float64
dtypes: float64(14), object(1)
memory usage: 22.3+ KB

In [15]:
df_pivot1 = df_pivot1.rename(columns={'Area_': 'Area'})

<div style="border: 1px solid RGB(51,165,182);" >
<h3 style="margin: auto; padding: 20px; color: RGB(51,165,182); ">2.1 - Analyse import_export</h3>
</div>

In [16]:
df_import_export.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 605 entries, 0 to 604
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Area Code (M49)  605 non-null    int64
 1   Area             605 non-null    object
 2   Element          605 non-null    object
 3   Item             605 non-null    object
 4   Year             605 non-null    int64
 5   Value            605 non-null    float64
dtypes: float64(1), int64(2), object(3)
memory usage: 28.5+ KB

In [17]:
df_import_export.head()

,Area Code (M49),Area,Element,Item,Year,Value
0,4,Afghanistan,Import Quantity,Chickens,2022,11927.00
1,4,Afghanistan,Import Quantity,"Meat of chickens, fresh or chilled",2022,6902.31
2,8,Albania,Import Quantity,Chickens,2022,8743.00
3,8,Albania,Import Quantity,"Meat of chickens, fresh or chilled",2022,43124.46
4,12,Algeria,Import Quantity,Chickens,2022,4619.00

In [18]:
df_pivot2 = df_import_export.pivot_table(index='Area', columns=['Element', 'Item'], values='Value')
df_pivot2.columns = ['_'.join(col).strip() if isinstance(col, tuple) else col for col in df_pivot2.columns.values]
df_pivot2.reset_index(inplace=True)
df_pivot2

,Area,Export Quantity_Chickens,"Export Quantity_Meat of chickens, fresh or chilled",Import Quantity_Chickens,"Import Quantity_Meat of chickens, fresh or chilled"
0,Afghanistan,NaN,NaN,11927.0,6902.31
1,Albania,NaN,NaN,8743.0,43124.46
2,Algeria,NaN,29.00,4619.0,NaN
3,Angola,1.0,10.87,35.0,308122.71
4,Antigua and Barbuda,1.0,5.84,1.0,6406.99
...,...,...,...,...,...
190,Venezuela (Bolivarian Republic of),NaN,NaN,21.0,7689.79
191,Viet Nam,29.0,2649.00,2088.0,267072.32
192,Yemen,NaN,NaN,NaN,103036.43
193,Zambia,2221.0,8929.99,343.0,54804.02
194,Zimbabwe,42.0,NaN,58.0,5124.70

In [19]:
colonnes_avant = len(df_pivot2.columns)
df_pivot2 = df_pivot2.dropna(axis=1, thresh=int(len(df_pivot2) * 0.7))
colonnes_apres = len(df_pivot2.columns)
print(f"Le DataFrame a été nettoyé de {colonnes_avant - colonnes_apres} colonnes.")

Le DataFrame a été nettoyé de 2 colonnes.

In [20]:
df_pivot2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195 entries, 0 to 194
Data columns (total 3 columns):
 #   Column                                              Non-Null Count  Dtype
---  ------                                              --------------  -----
 0   Area                                                195 non-null    object
 1   Import Quantity_Chickens                            182 non-null    float64
 2   Import Quantity_Meat of chickens, fresh or chilled  189 non-null    float64
dtypes: float64(2), object(1)
memory usage: 4.7+ KB

<div style="border: 1px solid RGB(51,165,182);" >
<h3 style="margin: auto; padding: 20px; color: RGB(51,165,182); ">2.1 - Analyse internet</h3>
</div>

In [21]:
df_internet.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 264 entries, 0 to 263
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Area      264 non-null    object
 1   Internet  264 non-null    object
dtypes: object(2)
memory usage: 4.3+ KB

In [22]:
df_internet.head()

             Area     Internet
0     Afghanistan         18.4
1         Albania  82.61368583
2         Algeria        70.77
3  American Samoa            0
4         Andorra  93.89752157

<div style="background-color: RGB(51,165,182);" >
<h2 style="margin: auto; padding: 20px; color:#fff; ">3 - Fusion</h2>
</div>

Verification Pays

<div style="border: 1px solid RGB(51,165,182);" >
<h3 style="margin: auto; padding: 20px; color: RGB(51,165,182); ">3.1 - Verification des pays avant de les fusionner</h3>
</div>

In [23]:
# Uniformiser les noms de pays (par exemple, enlever les espaces inutiles et mettre en minuscules)
df_world = df_world.copy()
df_pivot1 = df_pivot1.copy()
df_pivot2 = df_pivot2.copy()
df_internet = df_internet.copy()
df_world['Area'] = df_world['Area'].str.strip().str.lower()
df_pivot1['Area'] = df_pivot1['Area'].str.strip().str.lower()
df_pivot2['Area'] = df_pivot2['Area'].str.strip().str.lower()
df_internet['Area'] = df_internet['Area'].str.strip().str.lower()

In [24]:
def harmoniser_pays_automatiquement(df_world, df_pivot1, df_pivot2, df_internet):
    # Dictionnaire de correspondance pour harmoniser les noms
    corrections = {
        'venezuela (bolivarian republic of)': 'venezuela, rb',
        'iran (islamic republic of)': 'iran, islamic rep.',
        'côte d\'ivoire': 'cote d\'ivoire',
        'united states of america': 'united states',
        'republic of korea': 'korea, rep.',
        'republic of moldova': 'moldova',
        'yemen': 'yemen, rep.',
        'congo, dem. rep.': 'democratic republic of the congo',
        'congo': 'congo, rep.',
        'lao pdr': "lao people's democratic republic",
        'egypt': 'egypt, arab rep.',
        'turkiye': 'türkiye',
        'kyrgyzstan': 'kyrgyz republic',
        'netherlands (kingdom of the)': 'netherlands',
        'slovakia': 'slovak republic',
        'saint lucia': 'st. lucia',
        'saint vincent and the grenadines': 'st. vincent and the grenadines',
        'saint kitts and nevis': 'st. kitts and nevis',
        'macao sar, china': 'china, macao sar',
        'hong kong sar, china': 'china, hong kong sar',
        'gambia': 'gambia, the',
        'tanzania': 'united republic of tanzania',
        'bolivia (plurinational state of)': 'bolivia',
        'bahamas': 'bahamas, the',
        'micronesia (federated states of)': 'micronesia, fed. sts.',
        'united kingdom of great britain and northern ireland': 'united kingdom',
        'china, mainland': 'china',
        'china, taiwan province of': 'taiwan'
    }

    # Appliquer les corrections sur tous les DataFrames
    df_world['Area'] = df_world['Area'].replace(corrections)
    df_pivot1['Area'] = df_pivot1['Area'].replace(corrections)
    df_pivot2['Area'] = df_pivot2['Area'].replace(corrections)
    df_internet['Area'] = df_internet['Area'].replace(corrections)

    # Liste des classifications/groupements à exclure
    classifications_a_supprimer = [
        'world', 'sub-saharan africa', 'latin america & caribbean', 'north america', 'caribbean small states',
        'pacific island small states', 'arab world', 'european union', 'oecd members', 'high income', 
        'low & middle income', 'lower middle income', 'upper middle income', 'low income', 'middle income',
        'east asia & pacific', 'south asia', 'africa eastern and southern', 'africa western and central', 
        'central europe and the baltics', 'east asia & pacific (excluding high income)', 'latin america & caribbean (excluding high income)', 
        'middle east & north africa', 'middle east & north africa (excluding high income)', 
        'sub-saharan africa (excluding high income)', 'sub-saharan africa (ida & ibrd countries)', 
        'east asia & pacific (ida & ibrd countries)', 'europe & central asia', 'europe & central asia (excluding high income)', 
        'europe & central asia (ida & ibrd countries)', 'ida & ibrd total', 'ida total', 'ibrd only', 'ida blend', 'ida only',
        'least developed countries: un classification', 'heavily indebted poor countries (hipc)', 'other small states',
        'fragile and conflict affected situations', 'early-demographic dividend', 'late-demographic dividend', 'pre-demographic dividend', 
        'post-demographic dividend'
    ]

    # Supprimer ces classifications de tous les DataFrames
    df_world = df_world[~df_world['Area'].isin(classifications_a_supprimer)]
    df_pivot1 = df_pivot1[~df_pivot1['Area'].isin(classifications_a_supprimer)]
    df_pivot2 = df_pivot2[~df_pivot2['Area'].isin(classifications_a_supprimer)]
    df_internet = df_internet[~df_internet['Area'].isin(classifications_a_supprimer)]

    # Trouver les pays qui ne correspondent pas entre les DataFrames
    set_world = set(df_world['Area'])
    set_pivot1 = set(df_pivot1['Area'])
    set_pivot2 = set(df_pivot2['Area'])
    set_internet = set(df_internet['Area'])

    # Harmoniser : ne conserver que les pays qui sont présents dans tous les DataFrames
    pays_communs = set_world & set_pivot1 & set_pivot2 & set_internet

    # Filtrer les DataFrames pour ne conserver que les pays communs
    df_world_harmonise = df_world[df_world['Area'].isin(pays_communs)]
    df_pivot1_harmonise = df_pivot1[df_pivot1['Area'].isin(pays_communs)]
    df_pivot2_harmonise = df_pivot2[df_pivot2['Area'].isin(pays_communs)]
    df_internet_harmonise = df_internet[df_internet['Area'].isin(pays_communs)]

    return df_world_harmonise, df_pivot1_harmonise, df_pivot2_harmonise, df_internet_harmonise

# Appeler la fonction pour harmoniser les DataFrames
df_world_harmonise, df_pivot1_harmonise, df_pivot2_harmonise, df_internet_harmonise = harmoniser_pays_automatiquement(df_world, df_pivot1, df_pivot2, df_internet)

# Vérification finale
print("Nombre de pays harmonisés:", len(df_world_harmonise))

# Comparer les pays après corrections et suppressions
set_world = set(df_world_harmonise['Area'])
set_pivot2 = set(df_pivot2_harmonise['Area'])

print("Présents dans df_world mais pas dans df_pivot2:", set_world - set_pivot2)
print("Présents dans df_pivot2 mais pas dans df_world:", set_pivot2 - set_world)

Nombre de pays harmonisés: 185
Présents dans df_world mais pas dans df_pivot2: set()
Présents dans df_pivot2 mais pas dans df_world: set()

<div style="border: 1px solid RGB(51,165,182);" >
<h3 style="margin: auto; padding: 20px; color: RGB(51,165,182); ">3.2 - Fusion</h3>
</div>

In [25]:
# Fusion entre df_world_harmonise et df_pivot1_harmonise
df_merge_1 = df_world_harmonise.merge(df_pivot1_harmonise, on='Area', how='outer', indicator=True)

# Afficher les résultats pour voir d'où proviennent les lignes non fusionnées
print(df_merge_1['_merge'].value_counts())
del df_merge_1['_merge']
# Fusion entre df_merge_1 et df_pivot2_harmonise
df_merge_2 = df_merge_1.merge(df_pivot2_harmonise, on='Area', how='outer', indicator=True)

# Afficher les résultats pour voir les lignes non fusionnées après la deuxième fusion
print(df_merge_2['_merge'].value_counts())
del df_merge_2['_merge']
# Fusion finale avec df_internet_harmonise
df_final = df_merge_2.merge(df_internet_harmonise, on='Area', how='outer', indicator=True)

# Afficher les résultats pour la fusion finale
print(df_final['_merge'].value_counts())
del df_final['_merge']
del df_final['Year']

_merge
both          186
left_only       0
right_only      0
Name: count, dtype: int64
_merge
both          188
left_only       0
right_only      0
Name: count, dtype: int64
_merge
both          188
left_only       0
right_only      0
Name: count, dtype: int64

In [26]:
df_final

,Area,PIB par habitant,Population totale,Taux d'urbanisation,Taux de chomage,Taux d'inflation,Taux de mortalite infantile,Taux d'electrification,Production_Poultry Meat,Import quantity_Poultry Meat,...,Import quantity_Eggs,Domestic supply quantity_Eggs,Losses_Eggs,Residuals_Eggs,Food_Eggs,Stock Variation_Eggs,Export quantity_Poultry Meat,Import Quantity_Chickens,"Import Quantity_Meat of chickens, fresh or chilled",Internet
0,afghanistan,352.603733,41128771.0,26.616,14.100,NaN,44.8,85.3,29.0,7.0,...,13.0,35.0,3.0,0.0,29.0,NaN,NaN,11927.0,6902.31,18.4
1,albania,6810.114041,2777689.0,63.799,11.588,6.725203,8.4,100.0,18.0,47.0,...,2.0,51.0,8.0,0.0,43.0,0.0,NaN,8743.0,43124.46,82.61368583
2,algeria,5023.252932,44903225.0,74.772,12.437,9.265516,18.7,100.0,275.0,0.0,...,1.0,312.0,14.0,0.0,282.0,0.0,0.0,4619.0,NaN,70.77
3,angola,2933.484644,35588987.0,68.081,14.693,21.355290,45.7,48.5,59.0,316.0,...,2.0,145.0,12.0,0.0,64.0,0.0,0.0,35.0,308122.71,32.60230173
4,antigua and barbuda,19919.726690,93763.0,24.346,NaN,7.531078,8.1,100.0,0.0,7.0,...,0.0,1.0,0.0,0.0,1.0,NaN,0.0,1.0,6406.99,95.66338947
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
183,"venezuela, rb",NaN,28301696.0,88.378,5.747,NaN,21.2,100.0,426.0,23.0,...,0.0,178.0,9.0,0.0,169.0,0.0,NaN,21.0,7689.79,61.6
184,viet nam,4179.011790,98186856.0,38.766,1.535,3.156508,16.2,100.0,1249.0,270.0,...,6.0,438.0,39.0,0.0,370.0,0.0,7.0,2088.0,267072.32,78.58999918
185,"yemen, rep.",698.850350,33696614.0,39.188,17.515,NaN,33.1,76.0,202.0,103.0,...,1.0,75.0,7.0,0.0,57.0,0.0,NaN,NaN,103036.43,26.71835477
186,zambia,1456.901570,20017675.0,45.761,5.993,10.993204,39.0,47.8,51.0,57.0,...,0.0,65.0,6.0,0.0,56.0,0.0,9.0,343.0,54804.02,21.23153129
187,zimbabwe,1676.821489,16320537.0,32.395,10.087,104.705171,34.6,50.1,112.0,5.0,...,1.0,23.0,2.0,0.0,18.0,0.0,NaN,58.0,5124.70,34.81397069

In [27]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 188 entries, 0 to 187
Data columns (total 25 columns):
 #   Column                                              Non-Null Count  Dtype
---  ------                                              --------------  -----
 0   Area                                                188 non-null    object
 1   PIB par habitant                                    184 non-null    float64
 2   Population totale                                   188 non-null    float64
 3   Taux d'urbanisation                                 188 non-null    float64
 4   Taux de chomage                                     179 non-null    float64
 5   Taux d'inflation                                    164 non-null    float64
 6   Taux de mortalite infantile                         184 non-null    float64
 7   Taux d'electrification                              188 non-null    float64
 8   Production_Poultry Meat                             186 non-null    float64
 9   Import quantity_Poultry Meat                        188 non-null    float64
 10  Stock Variation_Poultry Meat                        188 non-null    float64
 11  Domestic supply quantity_Poultry Meat               188 non-null    float64
 12  Residuals_Poultry Meat                              188 non-null    float64
 13  Food_Poultry Meat                                   188 non-null    float64
 14  Production_Eggs                                     185 non-null    float64
 15  Import quantity_Eggs                                188 non-null    float64
 16  Domestic supply quantity_Eggs                       188 non-null    float64
 17  Losses_Eggs                                         186 non-null    float64
 18  Residuals_Eggs                                      188 non-null    float64
 19  Food_Eggs                                           188 non-null    float64
 20  Stock Variation_Eggs                                155 non-null    float64
 21  Export quantity_Poultry Meat                        138 non-null    float64
 22  Import Quantity_Chickens                            176 non-null    float64
 23  Import Quantity_Meat of chickens, fresh or chilled  183 non-null    float64
 24  Internet                                            188 non-null    object
dtypes: float64(23), object(2)
memory usage: 36.8+ KB

In [28]:
colonnes_avant = len(df_final.columns)
colonnes_manquantes = df_final.columns[df_final.isnull().mean() > 0.1]

print(colonnes_manquantes)


df_final = df_final.dropna(axis=1, thresh=int(len(df_final) * 0.9))

colonnes_apres = len(df_final.columns)
print(f"Le DataFrame a été nettoyé de {colonnes_avant - colonnes_apres} colonnes.")

Index(['Taux d'inflation', 'Stock Variation_Eggs',
       'Export quantity_Poultry Meat'],
      dtype='object')
Le DataFrame a été nettoyé de 3 colonnes.

In [29]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 188 entries, 0 to 187
Data columns (total 22 columns):
 #   Column                                              Non-Null Count  Dtype
---  ------                                              --------------  -----
 0   Area                                                188 non-null    object
 1   PIB par habitant                                    184 non-null    float64
 2   Population totale                                   188 non-null    float64
 3   Taux d'urbanisation                                 188 non-null    float64
 4   Taux de chomage                                     179 non-null    float64
 5   Taux de mortalite infantile                         184 non-null    float64
 6   Taux d'electrification                              188 non-null    float64
 7   Production_Poultry Meat                             186 non-null    float64
 8   Import quantity_Poultry Meat                        188 non-null    float64
 9   Stock Variation_Poultry Meat                        188 non-null    float64
 10  Domestic supply quantity_Poultry Meat               188 non-null    float64
 11  Residuals_Poultry Meat                              188 non-null    float64
 12  Food_Poultry Meat                                   188 non-null    float64
 13  Production_Eggs                                     185 non-null    float64
 14  Import quantity_Eggs                                188 non-null    float64
 15  Domestic supply quantity_Eggs                       188 non-null    float64
 16  Losses_Eggs                                         186 non-null    float64
 17  Residuals_Eggs                                      188 non-null    float64
 18  Food_Eggs                                           188 non-null    float64
 19  Import Quantity_Chickens                            176 non-null    float64
 20  Import Quantity_Meat of chickens, fresh or chilled  183 non-null    float64
 21  Internet                                            188 non-null    object
dtypes: float64(20), object(2)
memory usage: 32.4+ KB

<div style="border: 1px solid RGB(51,165,182);" >
<h3 style="margin: auto; padding: 20px; color: RGB(51,165,182); ">3.3 - Remplir les NaN</h3>
</div>

In [30]:
from sklearn.impute import KNNImputer

# Initialisation de l'imputeur KNN avec k voisins
imputer = KNNImputer(n_neighbors=5)

# Imputation sur les données numériques
df_final_numeric = df_final.select_dtypes(include=[float])

# Appliquer KNN Imputer sur les colonnes numériques uniquement
df_final_imputed = pd.DataFrame(imputer.fit_transform(df_final_numeric), columns=df_final_numeric.columns)

# Réinjecter les valeurs imputées dans le DataFrame original
df_final.update(df_final_imputed)

In [32]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 188 entries, 0 to 187
Data columns (total 22 columns):
 #   Column                                              Non-Null Count  Dtype
---  ------                                              --------------  -----
 0   Area                                                188 non-null    object
 1   PIB par habitant                                    188 non-null    float64
 2   Population totale                                   188 non-null    float64
 3   Taux d'urbanisation                                 188 non-null    float64
 4   Taux de chomage                                     188 non-null    float64
 5   Taux de mortalite infantile                         188 non-null    float64
 6   Taux d'electrification                              188 non-null    float64
 7   Production_Poultry Meat                             188 non-null    float64
 8   Import quantity_Poultry Meat                        188 non-null    float64
 9   Stock Variation_Poultry Meat                        188 non-null    float64
 10  Domestic supply quantity_Poultry Meat               188 non-null    float64
 11  Residuals_Poultry Meat                              188 non-null    float64
 12  Food_Poultry Meat                                   188 non-null    float64
 13  Production_Eggs                                     188 non-null    float64
 14  Import quantity_Eggs                                188 non-null    float64
 15  Domestic supply quantity_Eggs                       188 non-null    float64
 16  Losses_Eggs                                         188 non-null    float64
 17  Residuals_Eggs                                      188 non-null    float64
 18  Food_Eggs                                           188 non-null    float64
 19  Import Quantity_Chickens                            188 non-null    float64
 20  Import Quantity_Meat of chickens, fresh or chilled  188 non-null    float64
 21  Internet                                            188 non-null    object
dtypes: float64(20), object(2)
memory usage: 32.4+ KB

<div style="background-color: RGB(51,165,182);" >
<h2 style="margin: auto; padding: 20px; color:#fff; ">4 - Analyse des données</h2>
</div>